* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.hero-wrapper {
  display: flex;
  gap: 1rem;
}
.hero-img {
  width: 50%;
  margin-bottom: 3rem;
}
img {
  width: 100%;
}
.text {
  text-align: center;
  width: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #87879d;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.btn-green {
  width: 12rem;
  height: 3.5rem;
  color: white;
  background-color: #4d96a9;
  border-radius: 30px;
  font-family: inherit;
}
.btn-green span {
  color: #8fe3f9;
}
.btn-purple {
  width: 8.6rem;
  height: 3.5rem;
  color: white;
  background-color: #855fb1;
  border-radius: 30px;
  font-family: inherit;
}

.gallery-wrapper {
  margin-top: 16.2rem;
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 2rem;
}

.content-container {
  padding: 1rem;
}
.modern-wrapper {
  text-align: center;
  margin-top: 4rem;
}

.modern-wrapper h2 {
  color: #4d96a9;
  margin-bottom: 1.5rem;
}
.modern-wrapper p {
  color: #87879d;
}
.exp-footer {
  margin-top: 11rem;
  text-align: center;
  height: 428px;
  background-image: url('./assets//mobile/image-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-blend-mode: soft-light;
  background-color: #4d96a9;
}
.exp-footer h1 {
  color: white;
  margin-top: 5.75rem;
  margin-bottom: 2rem;
}
.exp-footer p {
  color: white;
  margin-top: 1.5rem;
  font-weight: 500;
  /* height: 4.8rem; */
  width: 20rem;
  margin-bottom: 2rem;
  margin: 0 auto;
}
.exp-footer button {
  background-color: #855fb1;
  border-radius: 30px;
  height: 3.6rem;
  width: 12rem;
  color: white;
  margin-top: 2rem;
  font-family: inherit;
}
.exp-footer button span {
  color: #d9b8ff;
}
button {
  border: none;
  cursor: pointer;
}

.btn-purple:hover {
  background-color: #d9b8ff;
}
.btn-green:hover {
  background-color: #71c0d4;
}
.exp-footer button:hover {
  background-color: #d9b8ff;
}

@media (min-width: 768px) {
  .btn-wrapper {
    display: flex;
    flex-direction: row;
  }
  .content-container {
    padding: 0 2.5rem;
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  .modern-wrapper {
    width: 35rem;
    margin: 0 auto;
  }
  .modern-wrapper p {
    margin-top: 2rem;
  }
  .exp-footer {
    background-image: url('./assets/tablet/image-footer.jpg');
    background-size: cover;
  }
  .exp-footer button {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .exp-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 7.25rem 10rem;
    text-align: left;
  }
  .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .content-container {
    padding: 0 10.3rem;
  }
}
